.container {
	position: relative;
	margin: 0 auto;
	width: 340px;
	height: 270px;
	background-position: 50% 50%;
	background: cover;

}

/*.box {
	width: 380px;
	height: 300px;
	background-position: 50% 50%;
	background: cover;
	background-size: cover;
	float: left;
	background: rgb(205, 207, 205);
	color: white;
	 
}
*/

.info-bar {
	position: absolute;
	width: 340px;
	height: 60px;
	bottom: 0;
	background-color: rgb(231, 224, 224);
	opacity: 0;
	transition: .5s ease;
}

.container:hover .info-bar {
	opacity: 0.5;
}

/*.info-bar:hover {
	
}*/
.info {
	position: absolute;
	left: 5px;
	color: rgb(15, 15, 162);
	font-size: 18px;
	font-style: italic;
}

.price {
	position: absolute;
	bottom: 0;
	right: 5px;
	color: rgb(15, 15, 162);
	font-size: 18px;
	font-style: italic;
	background-color: rgb(231, 224, 224);
}

